<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JpmmsEntities" connectionString="metadata=res://*/DB.JpmmsModel.csdl|res://*/DB.JpmmsModel.ssdl|res://*/DB.JpmmsModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=jpmms;PASSWORD=jpmms;PERSIST SECURITY INFO=True;USER ID=JPMMS&quot;" providerName="System.Data.EntityClient" />
    <add name="JpmmsModelContainer" connectionString="metadata=res://*/DB.JpmmsModel.csdl|res://*/DB.JpmmsModel.ssdl|res://*/DB.JpmmsModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=jpmms;PASSWORD=jpmms;PERSIST SECURITY INFO=True;USER ID=JPMMS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>